@mixin disFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  @include disFlex;
  .container {
    @include disFlex;
    flex-direction: column;
    .timetableContainer {
      position: relative;
      margin: 1rem;
      height: 500px;
      width: 350px;
      .timetablePic {
        border-radius: 5px;
      }
    }
    .download {
      @include disFlex;
      background-color: rgb(174, 174, 174);
      padding: 0.5rem;
      margin-bottom: 4rem;
      border-radius: 5px;
      @media (max-width: 1054px) {
        margin-bottom: 0;
      }
      &:hover {
        background-color: gray;
        cursor: pointer;
      }
      a {
        all: unset;
      }
      .downloadIcon {
        margin: 0 0.5rem 0 0;
      }
      label {
        // @include disFlex;
        // flex-direction: column;
        cursor: pointer;
      }
    }
  }
  .info {
    @include disFlex;
    flex-direction: column;
    margin: 1rem;
    .masjidPic {
      border-radius: 5px;
    }
    address {
      margin: 1rem;
      font-size: large;
      font-weight: 500;
    }
    .directionCallBtn {
      button {
        all: unset;
        height: 50px;
        min-width: 100px;
        background-color: rgb(174, 174, 174);
        margin: 3px;
        text-align: center;
        border-radius: 10px;
        font-weight: 500;
        font-size: medium;
        &:hover {
          background-color: grey;
        }
      }
    }
    .madrasa {
      display: flex;
      align-items: center;
    }
  }
  .donate {
    position: fixed;
    top: 10rem;
    right: 4rem;
  }
}

@media (max-width: 1054px) {
  .body {
    flex-direction: column;
    .donate {
      position: static;
    }
  }
}
