@mixin disFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  @include disFlex;
  background-color: black;
  color: white;
  h4 {
    padding: 0.5rem;
    margin: 0;
  }
}
